.navbar{
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25); 
  margin-top:0;
  margin-bottom: 20px;
  z-index:3

}

.btn-sidebar {
  position:absolute;
  top:20px;
  left:25px;
  background-color:transparent;
  border:none
}

.btn-rent {
  background-color: #FBCC38;
  border-radius: 10px;
  display: inline;
  padding: 10px 30px;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 6%;
  cursor: pointer;
}

.allBooks {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  /* justify-content: space-between; */

}

.listbooks {
  background-color:#1e272e;
  display:inline;
  color:#fff;
  margin-left:20px;
  padding :5px 40px 10px 0;
  position:relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.listbooks::before {
  content: '';
  position:absolute;
  width: 37px;
  height:37px;
  background-color:#1e272e;
  top:8px;
  right:-19px;
  transform:rotate(45deg)

}

.loading {
  transform:translateY(50%);
  text-align: center;
  margin-top:50px
}